/* src/css/Prestations.css */

.prestations-page {
  width: 100%;
  overflow-y: scroll; /* pour défiler verticalement */
  scroll-snap-type: y mandatory; /* pour “snap” sur chaque section */
  height: calc(100vh - 60px); /* 60px = hauteur du TopBar */
}

.prestations-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  scroll-snap-align: start; /* chaque section “snap” au début */
}